@using translord.Enums
@using translord.Manager.Models
@inject ITranslator Translator
@implements IDialogContentComponent

<FluentDialogBody Class="import-translations-dialog">
    @foreach(var language in Translator.GetSupportedLanguages())
    {
        <FluentStack Orientation="Orientation.Horizontal">
            <span style="width: 150px">@language.GetName()</span>
            <FluentInputFile @ref="@myFileUploader"
                             DragDropZoneVisible="false"
                             Mode="InputFileMode.SaveToTemporaryFolder"
                             Multiple="false"
                             AnchorId="@($"MyUploadButton-{language.GetName()}")"
                             MaximumFileSize="@(100 * 1024 * 1024)"
                             Accept=".txt, .json"
                             OnCompleted="@(x => OnCompleted(language, x))" />

            <FluentButton Id="@($"MyUploadButton-{language.GetName()}")" Appearance="Appearance.Accent" Style="width: 200px">
                Upload @language.GetName() file
            </FluentButton>
            @if (Files.TryGetValue(language, out var file))
            {
                <div>
                    <span>@file.Name</span> - 
                    <span>@($"{Decimal.Divide(@file.Size, 1024):N} KB")</span> - 
                    <span>@file.ContentType</span>
                </div>
            }
        </FluentStack>
    }
</FluentDialogBody>

@code {
    FluentInputFile? myFileUploader = default!;

    Dictionary<Language, FluentInputFileEventArgs> Files = new Dictionary<Language, FluentInputFileEventArgs>();

    void OnCompleted(Language lang, IEnumerable<FluentInputFileEventArgs> files)
    {
        Files[lang] = files.First();
    }
}